---
import GeneralLayout from "../layouts/GeneralLayout.astro";
---

<GeneralLayout>
  <section id="hero">
    <section id="hero" class="relative">
      <div
        class="general-padding py-48 flex items-center justify-between overflow-hidden relative"
      >
        <h1 class="text-6xl font-serif md:w-1/2 text-left">
          Comparto mis ideas y realizo las tuyas
        </h1>
        <div class="hidden md:block"></div>
      </div>
    </section>
  </section>

  <section id="me" class="bg-black text-white text-right relative">
    <div class="general-padding py-16">
      <h2 class="text-6xl font-serif text-right mb-8">Sobre mí</h2>
      <p class="text-lg">+5 años de experiencia. Ingeniero de Software</p>
      <p class="text-lg">
        Especializado en el desarrollo de aplicaciones web únicas.
      </p>
    </div>
  </section>

  <section id="projects" class="bg-white text-black relative">
    <div class="general-padding py-16">
      <h2 class="text-6xl text-red font-serif md:w-1/2 text-left mb-8">
        Proyectos
      </h2>
      <p class="text-lg">Aquí están algunos de mis proyectos más recientes.</p>
    </div>
  </section>
</GeneralLayout>
