---
import { NAV_LINKS } from "../consts";
---

<footer class="bg-black text-white">
  <div class="general-padding flex flex-col justify-between md:flex-row">
    <div>Morart</div>
    <nav>
      <ul class="flex space-x-4">
        {
          NAV_LINKS.map((link) => (
            <li key={link.key}>
              <a href={link.href}>{link.name}</a>
            </li>
          ))
        }
      </ul>
    </nav>
    <form>
      <input type="email" placeholder="Tu email" />
      <button type="submit">Suscribirse</button>
    </form>
  </div>
</footer>
